
/* General Settings */

.container {
    padding: 0 150px;
}
/* First Section (Home) Styling */

.home .container, .features .container {
    margin: 120px 0;
}
.home .column {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home .column .right h1{
    color:#242948;
    font-size: 45px;
    font-weight:600;
    margin-bottom: 10px;
}
.home .column .right .text {
    margin-bottom: 15px;
    color:#A2A2A6;
}
.home .column .right .btns a:first-of-type{
    text-decoration:none;
    padding: 12px 22px;
    font-size: 17px;
    border:none;
    box-shadow: 0px 17px 24px -6px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0px 17px 24px -6px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 17px 24px -6px rgba(0,0,0,0.24);
    width: 180px;
    height: 60px;
    border-radius: 8px;
    color: #fff;
    background-color: #5267DE;
    border:2px solid #5267DE;
    margin-right:15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.home .column .right .btns a:last-of-type{
    text-decoration:none;
    padding: 12px 22px;
    box-shadow: 0px 17px 24px -6px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0px 17px 24px -6px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 17px 24px -6px rgba(0,0,0,0.24);
    font-size: 17px;
    border:none;
    box-shadow: 1;
    width: 160px;
    height: 60px;
    border-radius: 8px;
    color: #67686D;
    background-color: #F7F7F7;
    border:3px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}
.home .column .right .btns a:first-of-type:hover {
    background-color: transparent;
    color:#5267DE;
}
.home .column .right .btns a:last-of-type:hover {
    background-color: transparent;
    color: #67686D;
    border:3px solid #c3c3c3;

}
/* Start Features Section Styling */
.features .title {
    color:#242948;
    font-size: 30px;
    text-align: center;
}
.features .text {
    text-align: center;
    color:#A2A2A6;
}
.menu-btns {
    list-style: none;
    text-align: center;
    border-bottom: 0.5px solid #A2A2A6;
    width: 55%;
    margin:0 auto;
    padding: 4px 0;
}
.menu-btns li {
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
    /* transition: all 0.3s ease; */
}
.menu-btns li.active {
    border-bottom: 4px solid #FA595E;
}
.features .content {
    opacity: 0;
    display: none;
    padding:60px 0;
}
.features .content.active {
    opacity: 1;
    display: block;
    transition: opacity 0.3s ease;
}
.features .content .column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features .content .column .right{
    width: 40%;
}
.features .content .column .right h2 {
    font-size: 30px;
    color:#242948;
    margin-bottom: 20px;

}
.features .content .column .right p {
    margin-bottom: 40px;
    text-align: left;
}
.features .content .column .right a {
    width: 400px;
    padding: 15px 30px;
    height:90px;
    color:#fff;
    text-decoration: none;
    background-color:#5266DF;
    border: 3px solid #5266DF;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.features .content .column .right a:hover{
    background-color: transparent;
    color:#5266DF;

}

.features .content .column .left{
    width: 60%;
}
